@import "tailwindcss";

body {
  font-family: 'Figtree', sans-serif;
}

/* Custom transitions and scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #F8FAFC;
}

::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}

/* Custom form transitions */
.transition-all-200 {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
